# Hosting configuration
URL=https://your-hosting-url.com
# PORT=3000

# Appwrite configuration
APPWRITE_URL=your_appwrite_url
APPWRITE_PROJECT_ID=your_project_id
DATABASE_ID=your_database_id
USERS_TABLE_ID=your_users_table_id
QUIZZES_TABLE_ID=your_quizzes_table_id
ANSWERS_TABLE_ID=your_answers_table_id
GAMES_TABLE_ID=your_games_table_id
SCORES_TABLE_ID=your_score_table_id
BUCKET_ID=your_bucket_id

ANSWER_CHECK_FUNCTION_ID=your_answer_check_function_id